@CHARSET "utf-8";


.glyphicon {
    font-size: 32px;
}
.glyphiconPlan1{
	color:#f0ad4e;
	position: absolute;
  	left:10px;
  	top:  65px; 
}
.plan1{
	position: absolute;
  	left: 63px;
  	top:  75px; 
}

.glyphiconPlan2{
	color:#563d7c; 
}
.plan2{
	position: absolute;
  	right: 100px;
  	top:  68px; 
}

.glyphiconPlan3{
	color:#5cb85c;
}

.plan3{
	position: absolute;
  	left: 80px;
  	top:  75px; 
}

#myCarousel{
	top:  -100px; 
	}


 
