@CHARSET "UTF-8";
html,body{ background-color:none;}

 
 #recuadro{ position:absolute;
 			top:200px;
			left:400px;
	        color:blue;
	        border-color:white;
			border-width:10px;
			background-color:#404040;
			}
			
 #recuadro1{ position:absolute;
 			top:200px;
			left:800px;
	        color:blue;
	        border-color:white;
			border-width:10px;
			background-color:#404040;
			}
 
 
 
#titulo{ background-color:#404040;
		font-size:80px;
		color:#5cb85c; 
		font-family:Vtks Revolt;
		position:relative;
		border-style: solid;
   		border-width: 5px;
   	    border-top:none;
   		border-left:none;
    	border-right:none;
		}	  

h1,label{color:white;}

h3,p{color:white;
     text-align:left;}

a{color:#5cb85c;}	 

a:hover{color:#404040 ;
        text-decoration: underline;}
           
#menu{  background-color:#404040;
		font-size:20px;
		color:#5cb85c;
		width:200px;
		position:absolute;}    
		    
h4{ padding-left:13px;color:white;}

#t1,#t2{color:white;background-color:#404040;}

 button{font-size:25px;}
 
 
#formb{left:415px;}